<html>
<head>
<title>Videos</title>
<meta name="viewport" content="width=device-width; maximum-scale=1; minimum-scale=1;" />
<style>
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    width: 240px;
    height: 100px;
}
</style>
</head>
<body>
	{{if .Error}}
	<table border="0" style="width: 240px">
		<tr><td style="color: red">ERROR: {{.Error}}</td><tr>
		<tr><td><a class="button" href="/shutdown">Shutdown</a></td><tr>
		<tr><td><a class="button" href="/restart">Restart</a></td><tr>
		<tr><td><a class="button" href="/play">Test play</a></td><tr>
	</table>
	{{end}}
	<table border="0">
		{{range .List}}
		<tr><td><a class="button" href="/play?id={{.ID}}">{{.Title}}</a></td><tr>
		{{end}}
	</table>
</body>
</html>
